           <link rel="stylesheet" href="/css/index.css">
          <div class="item">
                <div class="textContent">
                  <h3 class="h3">Welcome to my NotesAPP</h3>
                  {{!-- <h5 class="h5">Please, Logueate</h5> --}}
                  <img class="img12" src="https://eshop.macsales.com/blog/wp-content/uploads/2020/12/Notes-Icon-Big-Sur.png" width="30%" height="30%" alt="">
                  <div class="contEnlaces">
                  <a style="text-decoration: none" class="btnS" href="/users/signin" class="main-stroked-button">Login</a>
                  <a style="text-decoration: none" class="btnS" href="/users/signup" class="main-filled-button">Sign Up</a>
                  </div>
                </div>
          </div>