.item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.h3{
    font-size: 8rem;
color: white;
text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.h5{
    margin-top: 2rem;
    font-size: 3rem ;

}
.textContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Shadows Into Light', cursive;
}
.img12{
    background-color: transparent;
}
.contEnlaces{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40rem;
}
.btnS {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    width: 12rem;
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    transition: all .5s ease;
   }
   
   .btnS:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
   }
   
   .btnS:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }